<div class="row">
    <h1>Test Yourself</h1>
</div>
<div class="col-lg-12" style="text-align: center">
    <p class="lead" ng-bind="compound.name"></p>

    <p class="lead" ng-show="answerSubmitted && !isCorrectAnswer">
        <span class="glyphicon glyphicon-remove"></span>
        Wrong! The correct answer is: <span ng-bind="compound.formula"></span>
    </p>

    <p class="lead" ng-show="answerSubmitted && isCorrectAnswer">
        <span class="glyphicon glyphicon-ok"></span>
        Correct! The correct answer is: <span ng-bind="compound.formula"></span>
    </p>


    <div class="col-lg-12">
        <div class="input-group" ng-show="!answerSubmitted">
            <!--<label for="userAnswer">Guess the formula:</label>-->
            <input id="userAnswer" type="text" class="form-control" ng-model="userInput"
                   placeholder="Guess the formula"/>

            <div class="input-group-btn">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Add subscript<span class="glyphicon glyphicon-chevron-down"></span></button>

                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-click="addSubscript(2)">2</a></li>
                    <li><a ng-click="addSubscript(3)">3</a></li>
                    <li><a ng-click="addSubscript(4)">4</a></li>
                    <li><a ng-click="addSubscript(5)">5</a></li>
                    <li><a ng-click="addSubscript(6)">6</a></li>
                    <li><a ng-click="addSubscript(7)">7</a></li>
                    <li><a ng-click="addSubscript(8)">8</a></li>
                    <li><a ng-click="addSubscript(9)">9</a></li>
                </ul>
            </div>
        </div>
    </div>
  <br/>
  <br/>
    <div class="col-lg-12">
      <p>
        <button class="btn btn-lg btn-default" ng-click="testAnswer()" ng-show="!answerSubmitted">Submit</button>
      </p>
      <p>
        <button class="btn btn-lg btn-success" ng-click="getRandomCompound()" ng-show="answerSubmitted">Next Chemical
        </button>
      </p>
    </div>
</div>
